input, textarea {
  font-family: var(--mulish-font);
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  border-width: 2px;
  border: 2px solid #ccc;
  resize: none;
}

.note-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-btn {
  border-radius: 8px;
  align-items: center;
  background-color: #0e1112;
  color: var(--white);
  display: flex;
  font-family: var(--mulish-font);
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  padding: 18px 50px;
  border: none;
}

