.notes-container {
  display: grid;
  align-items: center;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(145px, 200px));
  gap: 4rem 2rem;
  justify-content: space-evenly;
  padding: 5rem 3rem 5rem 8rem;
}

.note {
  height: 100%;
  cursor: pointer;
  background: #afb5bf;
  border-radius: 10px;
  color: #fcfcfd;
  font-family: var(--mulish-font);
  padding: 10px;
}

.note h2, p {
  font-size: 1rem;
}

.note-icons {
  display: flex;
  justify-content: flex-end;
}

.edit-icon, .delete-icon {
  font-size: 1.3rem;
}