@import url('https://v1.fontapi.ir/css/SFProDisplay:500');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --white: #fffeff;
  --orange: #b3613c;
  --cremita: #f9f5ea;
  --purpura: #c0a3ca;
  --black: #000;
  --body-font: 'Poppins', sans-serif;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffeff;
  font-family: 'Poppins', sans-serif;
}

